.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #313b54;
}
.welcome {
  font-size: 2rem;
}
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
