.banner {
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  background-color: var(--color-surface);
  border: 1px solid var(--color-warning);
}
.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-warning);
}
h3 {
  font-size: 18px;
  font-weight: 500;
}
.list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
li {
  width: 180px;
  font-size: 14px;
}
.title {
  font-size: 14px;
}
.title span {
  font-size: 12px;
  color: var(--color-placeholder);
}
.link {
  font-size: 14px;
  color: var(--color-primary);
}
